html,
body {
    height: 100%;
}

.form-signup {
    max-width: 330px;
    padding: 1rem;
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

.form-signup .form-floating:first-of-type input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input[type="email"],
.form-signup .form-floating:not(:first-of-type) input[type="text"]{
    margin-bottom: -1px;
    border-radius: 0;
}

.form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}